<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/52cd1fbf1c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header class="ml-yellow-bg-padding">
      <div class="container-logo-search">
       <img id="logo" class="w-50" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
        <div class="search">
         <input type="text" placeholder="Buscar productos, marcas" />
         <button><i class="fa fa-search"></i></button>
        </div>
      </div>
      <p class="text-center">
      <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      <nav id="main-nav">
        <section class="barra">
         <ul class="item">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>                  
          <li><a href="#">Vender</a></li>          
          <li><a href="#">Ayuda</a></li>
         </ul>
         <ul class="item">
          <li><a href="register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>                     
          <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>          
          <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a> </li>          
         </ul>
        </section>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars ml-light-text"></i>
      </div>
    </header>
    <main>
      <img class="banner" src="/img/img-home-banner.jpg" alt="En estas fiestas no te pierdas ninguna venta"/> 
      <h2 class="text-title">Basado en tu última visita</h2>
      <section class="article-container">
        <article class="article-item" >
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%" />
          <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$6.770</p>
            <p class="text-discount">40% OFF</p>
            <p class="text-desc">Cafetera Moulinex</p>
          </div>
        </article>
        <article class="article-item">
          <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook pro 2019" width="100%" />
           <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$230.000</p>
            <p class="text-discount">20% OFF</p>
            <p class="text-desc">MacBook Pro 2019</p>
          </div>
        </article>
        <article class="article-item">
         <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%" />
          <div class="description-item product-desc-box">
           <i class="fas fa-truck product-delivery-icon"></i>
           <p class="text-price">$70.500</p>
           <p class="text-discount">10% OFF</p>
           <p class="text-desc">Samsung Galaxy S10</p>     
         </div>
        </article>
        <article class="article-item">
         <img src="/img/img-tv-samsung-smart.jpg" alt="Samsung SmartTv" width="100%" />
           <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$23.200</p>
            <p class="text-discount">5% OFF</p>
            <p class="text-desc">SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
        <h2>Ofertas</h2>
      <section class="article-container">
        <article class="article-item2">
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex"/>
           <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$6.770</p>
            <p class="text-discount">40% OFF</p>
            <p class="text-desc">Cafetera Moulinex</p>
           </div>
        </article>
        <article class="article-item2">
          <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"/>
           <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$230.000</p>
            <p class="text-discount">20% OFF</p>
            <p class="text-desc">MacBook Pro 2019</p>
           </div>
        </article>
        <article class="article-item2">
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"/>
           <div class="description-item product-desc-box">
            <i class="fas fa-truck product-delivery-icon"></i>
            <p class="text-price">$70.500</p>
            <p class="text-discount">10% OFF</p>
            <p class="text-desc">Samsung Galaxy S10</p>
          </div>
        </article>
        <article class="article-item2">
          <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas"/>
            <div class="description-item product-desc-box">
               <i class="fas fa-truck product-delivery-icon"></i>
              <p class="text-price">$23.200</p>
              <p class="text-discount">5% OFF</p>
              <p class="text-desc">SmartTv Samsung 43"</p>
            </div>
        </article>
      </section>
    </main>
    <footer class="footer"> 
      <section class="footer-items">
       <article>
          <i class="fa-solid fa-credit-card" id="ml-blue-bg"></i>
          <h3>Paga con tarjeta o en efectivo</h3>
          <p class="description-item">Con Mercado Libre Cash, tenes cuotas sin interes con tarjeta o con efectivo en puntos pagos. ¡Y siempre es seguro!</p>
       </article>
       <article>
           <i class="fa-solid fa-gift" id="ml-blue-bg"></i>
           <h3>Envios gratis desde $2.500</h3>
           <p class="description-item">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
       </article>
       <article>
           <i class="fa-solid fa-user-shield" id="ml-blue-bg"></i>
           <h3>Seguridad, de principio a fin</h3>
           <p class="description-item">¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estas siempre protegid@</p>  
       </article>
      </section>
      <section>
       <span> © 1999-2020 MercadoLiebre S.R.L</span> 
      </section>
    </footer>
  </body>
</html>
  